# From xc3sprog:
#   VID:PID:PRODDESC:INTERFACE:DBUS_DATA:DBUS_EN:CBUS_DAT:ACBUS_EN
#   nexys4        ftdi    6000000 0x0403:0x6010:Digilent USB Device:0:0xe8:0xeb:0x00:0x60
interface ftdi
ftdi_vid_pid 0x0403 0x6010
ftdi_channel 1
ftdi_serial "210292AD3168"
ftdi_layout_init 0x1908 0x190b
ftdi_layout_signal TCK -data 0x0001
ftdi_layout_signal TDI -data 0x0002
ftdi_layout_signal TDO -input 0x0004
ftdi_layout_signal TMS -data 0x0008
ftdi_layout_signal LED -ndata 0x1800
reset_config none
transport select jtag
adapter_khz 6000

# UG470 Table 1-1
# jtag newtap artix7 bs -irlen 6 -ircapture 0x01 -irmask 0x03 \
#   -expected-id 0x13631093

# minerva/units/debug/top.py
jtag newtap minerva cpu -irlen 5 -ircapture 0x01 -irmask 0x1F \
  -expected-id 0x10e31913

init
ftdi_set_signal TCK 0
ftdi_set_signal TDI 0
ftdi_set_signal TMS 0
shutdown
