absl-py
Jinja2~=2.11
MarkupSafe
# master as of 2020-04-07 17:59 PDT
git+https://github.com/nmigen/nmigen.git@0e40dc0a2d336945dfe0669207fe160cafff50dc
# git+file://C:/Users/Stuart/nmigen@master
# master as of 2020-04-07 17:59 PDT
git+https://github.com/nmigen/nmigen-boards.git@18315d8efc4b2d0569ff1abf19a92f495de7745d
# git+file://C:/Users/Stuart/nmigen-boards@master
pyvcd~=0.2.0
six
